@model TapHoa.Models.LOAIHANG

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container mt-5">
    <h2 class="text-danger">Xóa Loại Hàng</h2>
    <h3>Bạn có chắc muốn xóa loại hàng này?</h3>

    <div class="card mt-4 shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Loại hàng
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.TENLOAI)
                </dd>
            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions mt-4">
            <button type="submit" class="btn btn-danger">Xóa</button>
            @Html.ActionLink("Quay lại danh sách", "Index", null, new { @class = "btn btn-secondary ml-2" })
        </div>
    }
</div>
